<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#"><b>Snacks Corner</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="https://www.allrecipes.com/recipes/1947/everyday-cooking/quick-and-easy/"><b style="color:cornsilk">Recipes</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.grabon.in/food-coupons/"><b style="color:cornsilk">Discount Coupons</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="assets/cart.html"><b style="color:cornsilk">Shopping List</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="assets/new1.html"><b style="color:cornsilk">Contact Us</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=""><b style="color:cornsilk">Terms and Conditions</b></a>
      </li>
    </ul>
    

